* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

/* HEADER */

.mr-auto {
  margin-right: auto;
}

a {
  text-decoration: none;
  color: #fff;
}

header {
  padding: 10px 60px;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  transition: 0.5s;
}

header .logo {
  color: #fff;
  font-weight: 700;
  font-size: 24px;
}

header .logo span {
  color: #6ce09c;
}

/* side-bar */
